<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.syl.myapplication">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Activity -->
        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".demo.TestServiceActivity">
        </activity>
        <activity android:name=".demo.TestWebViewActivity">
        </activity>
        <activity
            android:name=".demo.RemoteActivity"
            android:process=":remote2">
        </activity>
        <activity android:name=".demo.TestLayoutActivity">
        </activity>
        <activity android:name=".demo.TestAlphaActivity">
        </activity>
        <activity android:name=".demo.ViewPagerActivity">
        </activity>

        <!-- Service -->
        <service
            android:name=".ipc.MyService"
            android:exported="false"
            android:process=":remote"/>
        <service
            android:name=".demo.TransService"
            android:enabled="true"
            android:exported="false">
        </service>
        <service
            android:name=".demo.MyIntentService"
            android:exported="false">
        </service>

    </application>

</manifest>